// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// Styles

.A-Component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-width: 400px;
  max-width: 1000px;
  overflow: hidden;

  .A-Image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f2026;
    width: 100%;
    height: auto;

    .Page-Title {
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 900;
      opacity: 1;
      color: #f2ebe9;
      padding: 10px;
      margin: 10px;
    }
  }
}
