// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// Styles

.D-Component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 400px;
  overflow: hidden;
  // H1 AND PAGE CONTAINER
  .D-Page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    // H1
    .Page-Title {
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 900;
      color: #f2ebe9;
      padding: 10px;
      margin: 10px;
    }
    //PAGE-IMAGE
    .D-Image {
      max-height: 500px;
      width: 0 auto;
      height: 0 auto;
      margin: 5px;
      opacity: 0.5;
    }
    .D-Image:hover {
      opacity: 1;
    }
  }
}
