// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// Styles

.Login-Component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 400px;

  .Login-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 500px;
    height: 400px;
    .Page-Title {
      justify-content: center;
      align-items: center;
      font-size: 7rem;
      font-weight: 900;
      opacity: 1;
      color: #f2ebe9;
      padding-bottom: 50px;
    }
    .Input-Label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #1f2026;
      padding: 2%;
      margin: 1%;
    }
    .Login-button {
      background-color: #f2ebe9;
      color: #1f2026;
      padding: 10px 35px;
      margin: 1%;
      transition-duration: 0.4s;
    }
    .Login-button:hover {
      background-color: #1f2026;
      color: #f2ebe9;
    }
  }
}
