// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// Styles
.Nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  min-width: 400px;
  max-width: 1500px;
  height: 100px;
  padding-bottom: 10px;

  .Main-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2026;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
  }

  .Nav-Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .Nav-Link {
    width: 100%;
  }

  .Link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12pt;
    color: #1f2026;
    padding: 10px 35px;
    transition-duration: 0.7s;
  }
  .Link:hover {
    background-color: #1f2026;
    color: #f2ebe9;
  }
  .Link:active {
    background-color: #1f2026;
    color: #f2ebe9;
  }
}
