// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
@import "./Variables.scss";

// //media breakpoints
// $mobile: 400px;
// $tablet: 800px;
// $desktop: 1024px;

// Styles
.Nav {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  max-width: 1024px;
  height: 100px;
  padding-bottom: 10px;

  .Main-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darktheme;
    font-size: 2rem;
    font-weight: 900;
    max-width: 200px;
    width: 100%;
  }

  .Nav-Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    // NAVIGATION LINK CONTAINERS
    .Nav-Link {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // LINKS TO COMPONENTS
      .Link:link,
      .Link:visited {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        color: $darktheme;
        border-radius: 1rem;
        transition-duration: 0.7s;
        padding: 20px;
      }
      .Link:hover {
        background-color: $lightgrey;
        color: $offwhite;
        border-color: $darktheme;
      }
      .Link:active {
        background-color: $lightgrey;
        color: $darktheme;
      }
    }
  }
}
