// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// Styles

.Photos-Component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 400px;

  .Photo-Image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../stockPhotos/v1.27.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
    padding: 20%;
    margin-top: 10%;

    .Page-Title {
      justify-content: center;
      align-items: center;
      font-size: 7rem;
      font-weight: 900;
      opacity: 1;
      color: #f2ebe9;
    }
  }
}
