// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// parent container
// routes - h1 page title
.Routes-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #1f2026;
  width: 100%;
  height: 200px;
  overflow: hidden;
  // child 1
  .Main-Title {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    width: 30%;
    padding: 10px;
  }
  // child 2
  .Nav-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2ebe9;
    height: 100%;
    width: 60%;
    // padding: 10px;
    .Nav-Link {
      padding: 0.5%;
      width: 100%;
      height: 10%;
      margin-top: 0.25%;
      margin-bottom: 0.25%;

      .Link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 12pt;
        color: #1f2026;
        padding: 2px;
      }
    }
  }
}
