// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// parent container
// routes - h1 page title
.Routes-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  width: 100%;
  height: 600px;
  overflow: hidden;
  // the kids containers
  .Page-Title {
    color: red;
    font-size: 16pt;
    font-weight: 600px;
  }

  .Nav-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    // padding: 10px;
    .Nav-Link {
      // background-color: red;
      // opacity: 1;
      background-image: url("../stockPhotos/v1.6.JPG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100px;
      width: 100%;
      padding: 25px 25px;

      .Link {
        text-decoration: none;
        font-size: 14pt;
        font-weight: 600;
        color: white;
      }
    }
  }
}
