// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;
// Styles

.Third-Component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background-image: url("../stockPhotos/sangriav1.4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px;
}
.Page-Title {
  font-size: 7rem;
  padding-top: 50px;
  opacity: 0.5;
  color: #f2ebe9;
}
