/* Color Theme Swatches in Hex */
$offwhite: #f2ebe9 !default;
$darktheme: #1f2026 !default;
$lightgrey: #d9d9d9;
//media breakpoints
$mobile: 400px;
$tablet: 800px;
$desktop: 1024px;

//font
$lato-font: "Lato", sans-serif;
