// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");

// VARIABLES /////////////////////////////////////////////////
// Font Variables
$lato-font: "Lato", sans-serif;

// Color Variables
$nav-color: #ff4b12;
$primary-color: white;
$secondary-color: yellow;
