@import "styles";

.nav-router {
  justify-content: space-evenly;
  align-items: center;
  background-color: $nav-color;
  width: 100%;
  height: 200px;

  h1 {
    font-size: 3em;
    font-weight: 900;
    color: $primary-color;
  }

  li {
    text-decoration: none;
  }
}
