$lato-font: "Lato", sans-serif;
$primary-color: white;
$nav-color: #ff4b12;

p {
  font-family: $lato-font;
  font-size: 1em;
  color: $nav-color;
  font-size: 1em;
}

// test test because i'm making dumb mistakes
