@import "../styles/mixins";
@import "../styles/variables";

.dashboard-container {
  @include gridContainer;
  ////////////////p landing
  .dash-p-landing {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    @include centerItem;
    color: $darktheme;
    font-size: 8em;
    padding-top: 1em;
  }
  ////////////////img about ////////////////
  .dashboard-img-about {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    width: 100%;
    height: auto;
  }
  ////////////////link about
  .dash-link-about {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    @include centerItem;
    color: $lightgrey;
    font-size: 2em;
    text-decoration: none;
  }

  ////////////////img blog ////////////////
  .dashboard-img-blog {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    width: 100%;
    height: auto;
  }
  ////////////////link blog
  .dash-link-blog {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    @include centerItem;
    color: $darktheme;
    font-size: 2em;
    text-decoration: none;
  }

  ////////////////img contact ////////////////
  .dashboard-img-contact {
    grid-column: 1 / span 4;
    grid-row: 4 / span 1;
    width: 100%;
    height: auto;
  }
  ////////////////link contact
  .dash-link-contact {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    @include centerItem;
    color: $darktheme;
    font-size: 2em;
    text-decoration: none;
  }
}
