@import "../../index.scss";

.dashboard-container {
  // whole page container, 1 col by 4 rows
  @include homeGrid;

  .landing {
    @include gridContainer;
    ////////////////img landing ////////////////
    .color-overlay {
      grid-column: 1 / span 4;
      grid-row: 1 / span 4;
      background-color: $redAccent;
      .dashboard-img-landing {
        width: 100%;
        height: auto;
        @include centerItem;
        opacity: 0.5;
        // overflow: hidden;
      }
    }
    ////////////////p landing
    .dash-p-landing {
      grid-column: 2 / span 2;
      grid-row: 3 / span 2;
      font-size: 4em;
      font-weight: 900;
      color: $offwhite;
      @include centerItem;
      //mobile
      @include respond-to("tablet") {
        font-size: 3em;
      }
      // tablet view
      @include respond-to("desktop") {
        font-size: 4em;
      }
    }
    .welcome {
      @include centerItem;
    }
  }
}
