@import "../../index.scss";

.dashboard-container {
  // whole page container, 1 col by 4 rows
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4fr);

  .landing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(75px, auto));
    ////////////////img landing ////////////////
    .color-overlay {
      grid-column: 1 / span 4;
      grid-row: 1 / span 4;
      background-color: $mellowYellow;
      .dashboard-img-landing {
        width: 100%;
        height: auto;
        place-self: center;
        opacity: 0.5;
      }
    }
    ////////////////p landing
    .dash-p-landing {
      grid-column: 2 / span 2;
      grid-row: 3 / span 2;
      font-size: 4em;
      font-weight: 900;
      color: $offwhite;
      place-self: center;
      //mobile
      @include respond-to("tablet") {
        font-size: 3em;
      }
      // tablet view
      @include respond-to("desktop") {
        font-size: 4em;
      }
    }
    .welcome {
      place-self: center;
    }
  }
}
