@import "../../index.scss";

.dashboard-container {
  // whole page container, 1 col by 4 rows
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4fr);

  .landing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(75px, auto));
    ////////////////img landing ////////////////
    .dashboard-img-landing {
      grid-column: 1 / span 4;
      grid-row: 1 / span 4;
      width: 100%;
      height: auto;
      place-self: center;
    }
    ////////////////p landing
    .dash-p-landing {
      grid-column: 2 / span 2;
      grid-row: 3 / span 2;
      font-size: 4em;
      font-weight: 900;
      height: 150px;
      color: $darktheme;
      place-self: center;

      @include respond-to("tablet") {
        height: 200px;
      }
      @include respond-to("desktop") {
        height: 300px;
      }
    }
    .welcome {
      grid-column: 1 / span 4;
      grid-row: 4;
      place-self: center;
    }
  }
}
