@import "../../index.scss";

// whole page container
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // specifically placing the image.
    .dashboard-img-landing {
      width: 100%;
      object-fit: none;
      object-position: 50% 30%;
      overflow: hidden;
      height: auto;
      place-self: center;
    }
    .welcome {
      justify-content: center;
      align-items: center;
      text-align: left;
      color: $offwhite;
      opacity: 0.2;
      font-size: 7em;
      font-weight: 900;
      padding: 20px 40px;

      background-color: $darktheme;
      width: 100%;
    }
    .welcome2 {
      font-weight: 200;
      font-size: 1rem;
      padding: 20px 40px;
    }
  }
}
