@import "../../index.scss";
// THE ENTIRE LIST OF REPOS
.repo-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(100px, 1fr, 1fr, 1fr, 1fr, 1fr);
  padding: 30px 0px 0px 0px;
  .page-title {
    text-align: center;
    font-size: 2rem;
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 0px 0px 30px 0px;
    // justify-items: start;
  }
  @include respond-to("desktop") {
    .page-title {
      padding: 30px 0px 30px 0px;
    }
  }
  .date {
    padding: 10px;
    grid-column: 3;
    grid-row: 2;
    text-align: right;
  }
  // EACH INDIVIDUAL REPO
  .nasa-title {
    padding: 10px;
    grid-column: 1;
    grid-row: 2;
  }
  img {
    max-width: 100%;
    height: auto;
    justify-self: stretch;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    padding: 10px;
  }
  .explanation {
    padding: 10px;
    grid-column: 1 / span 3;
    grid-row: 5;
  }
  .copyright {
    padding: 10px;
    grid-column: 1 / span 3;
    grid-row: 6;
  }

  // /////LOADING/////
  // .repo-item {
  //   grid-column: 1 / span 3;
  //   grid-row: 1;
  // }
  // /////ERROR PAGE/////
  // .development-p {
  //   grid-column: 1 / span 3;
  //   grid-row: 1;
  // }
}
