@import "../../../index.scss";

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  max-width: 1200px;
  height: 100%;
  background-color: navajowhite;
  margin: 0 auto;
  .name {
    place-self: center;
    width: 500px;
    height: 500px;
    padding: 50px;
  }
  .one {
    background-color: red;
  }
  .two {
    background-color: lightgreen;
  }
  .three {
    background-color: lightcoral;
  }
  .four {
    background-color: lightblue;
  }
  .five {
    background-color: purple;
  }
  .six {
    background-color: yellow;
  }
  .seven {
    background-color: orange;
  }
  .eight {
    background-color: green;
  }
  .nine {
    background-color: blue;
  }
  .ten {
    background-color: black;
  }
}
