@import "../styles/Variables.scss";

.D-Component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 400px;
  overflow: hidden;
  // H1 AND PAGE CONTAINER
  .D-Page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    // H1
    .Page-Title {
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: 100;
      opacity: 1;
      color: $darktheme;
      margin: 60px;
      border-bottom: 1px solid;
      border-color: $lightgrey;
    }
    //PAGE-IMAGE
    .D-Image {
      max-width: 800px;
      min-width: 400px;
      width: 100%;
      height: auto;
      margin-bottom: 25px;
    }
    .P-Title {
      font-weight: 100;
    }
    .P-Location {
      font-weight: 100;
    }
  }
  .DTriple-Page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    .DTriple-Image {
      min-width: 100px;
      width: 300px;
      height: auto;
    }
    .P-Title {
      font-weight: 100;
    }
    .P-Location {
      font-weight: 100;
    }
  }
}
