// Font Variables
@import "./Variables.scss";

// Styles
.Nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: $desktop;
  width: 100%;
  height: 100%;
  // background-color: yellowgreen;

  overflow: hidden;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    // background-color: rgb(86, 157, 204);
  }
  @media (max-width: $mobile) {
    // background-color: burlywood;
  }

  .Main-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darktheme;
    height: 100px;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    // background-color: red;

    @media (max-width: $mobile) {
      // background-color: orange;
      height: 100px;
      width: 100%;
    }
  }
  .Nav-Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    // background-color: green;
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: $mobile) {
      // background-color: lightgreen;
      height: 200px;
      width: 100%;
    }
    // NAVIGATION LINK CONTAINERS
    .Nav-Link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      // background-color: yellow;
      @media (max-width: $mobile) {
        // background-color: yellow;
      }
      // LINKS TO COMPONENTS
      .Link:link,
      .Link:visited {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        font-size: 16px;
        color: $lightgrey;
        // background-color: blue;
        transition-duration: 0.7s;
        padding: 10px 30px;
        // margin: 1px;
        @media (max-width: $mobile) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // padding: 5px 1px;
        }
      }
      .Link:hover {
        color: $darktheme;
      }
      .Link:active {
        border-radius: 5px;
        background-color: $lightgrey;
        opacity: 0.2;
        $lato-weight: 100;
        transition-duration: 0.8s;
        color: $redAccent;
        box-shadow: 0px 0px 0px 1px $redAccent;
      }
    }
  }
}
