@import "../../index.scss";

.about-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(200px, 200px, 200px, 1fr, 1fr);
  height: auto;
  width: 100%;
  // @include respond-to("desktop") {
  // }
  .about-title {
    grid-column: 1 / span 4;
    grid-row: 1;
    padding: 20px 0px 20px 40px;
    color: $darktheme;
    text-align: left;
  }

  // @include respond-to("desktop") {
  //   .about-title {
  //     // margin-top: 30px;
  //   }

  .content-title {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    font-size: 6rem;
    color: white;
    text-align: center;
    background-color: $forestGreen;
    @include respond-to("desktop") {
      padding: 50px;
    }
  }

  .about-content {
    grid-column: 1 / span 4;
    grid-row: 4;
    color: white;
    background-color: $forestGreen;
    text-align: center;
    padding: 50px;
    height: auto;
    width: 100%;
  }
}
