@import "../styles/mixins";
@import "../styles/variables";

.about-container {
  // whole page container, 1 col by 4 rows
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4fr);
}
