@import "../../index.scss";

.contact-container {
  .contact-title {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 20px;
    margin: 0 auto;
  }
  ////form container
  .contact-form {
    display: grid;
    grid-template-columns: 4 repeat(minmax(50px, 4fr));
    grid-template-rows: 4 repeat(minmax(50px, 4fr));
    max-width: 800px;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    margin: 0 auto;
    /////////labels
    .name-label {
      grid-column: 1 / span 2;
      grid-row: 1;
      justify-self: end;
      align-self: center;
      padding: 10px 20px;
    }
    .email-label {
      grid-column: 1 / span 2;
      grid-row: 2;
      justify-self: end;
      align-self: center;
      padding: 10px 20px;
    }
    .message-label {
      grid-column: 1 / span 2;
      grid-row: 3;
      justify-self: end;
      align-self: center;
      padding: 10px 20px;
    }
    ////////inputs
    .name-input {
      grid-column: 3 / span 2;
      grid-row: 1;
      justify-self: start;
      align-self: center;
    }
    .email-input {
      grid-column: 3 / span 2;
      grid-row: 2;
      justify-self: start;
      align-self: center;
    }
    .message-input {
      grid-column: 3 / span 2;
      grid-row: 3;
      justify-self: start;
      align-self: center;
    }

    .submit-contact {
      grid-column: 2;
      grid-row: 4;
      place-self: end;
      border: none;
      color: $darktheme;
      font-family: inherit;
      font-size: 1rem;
      padding: 10px 30px;
      border-radius: 20px;
      border: 1px solid white;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:hover {
        color: $redAccent;
        transition: 0.7s;
        border-radius: 20px;
        border: 1px solid white;
      }
      &:active {
        background-color: $lightgrey;
        color: $redAccent;
        border-radius: 20px;
        border: 1px solid $lightgrey;
        transition: 0.7s;
      }
    }
    .reset-contact {
      grid-column: 3;
      grid-row: 4;
      place-self: start;
      border: none;
      color: $darktheme;
      font-family: inherit;
      font-size: 1rem;
      padding: 10px 30px;
      border-radius: 20px;
      border: 1px solid white;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:hover {
        color: $redAccent;
        transition: 0.7s;
        border-radius: 20px;
        border: 1px solid white;
      }
      &:active {
        background-color: $lightgrey;
        color: $redAccent;
        border-radius: 20px;
        border: 1px solid $lightgrey;
        transition: 0.7s;
      }
    }
  }
}
