@import "../../index.scss";

.contact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  //left side
  .left-img {
    display: none;
    @include respond-to("tablet") {
      display: grid;
      grid-column: 1 / span 2;
      grid-row: 1 / span 4;
      max-width: 400px;
      width: 100%;
      height: auto;
      object-fit: none;
      object-position: 100% 40%;
    }
  }
  //h1
  .contact-title {
    grid-column: 1 / span 4;
    grid-row: 1;
    font-size: 2rem;
    place-self: center;
    padding: 25px 25px 25px 25px;
    @include respond-to("tablet") {
      grid-column: 3 / span 2;
      grid-row: 1;
    }
  }
  .contact-form {
    display: grid;
    grid-column: 1 / span 4;
    grid-row: 2 / span 3;

    .label {
      grid-column: 2;
      justify-self: end;
      align-self: center;
      padding: 10px 10px;
      margin-right: 10px;
      font-size: 1.5rem;
    }
    .input {
      border: none;
      grid-column: 3 / span 2;
      justify-self: start;
      align-self: center;
      font-size: 1.5rem;
      padding: 10px 10px;
      margin-left: 10px;
      border-bottom: 1px solid $darktheme;
    }

    .submit-contact {
      grid-column: 1 / span 4;
      place-self: center;
      font-size: 1.5rem;
      border: none;
      color: $darktheme;
      padding: 10px 30px;
      transition: 0.7s;
      &:hover {
        color: $redAccent;
      }
      &:active {
        background-color: $lightgrey;
        color: $offwhite;
      }
    }
    @include respond-to("tablet") {
      grid-column: 3 / span 2;
      grid-row: 2 / span 3;
      .label {
        grid-column: 3;
        grid-row: 2 / span 3;
      }
      .input {
        grid-column: 4;
      }
      .submit-contact {
        grid-column: 3 / span 2;
        grid-row: 4;
        border-radius: 20px;
      }
    }
  }

  // // right side form mobile
  // .contact-form {
  //   // display: grid;
  //   grid-column: 1 / span 4;
  //   grid-row: 2 / span 3;
  //   place-self: center;
  //   padding: 0 0 40px 0;
  //   width: 400px;
  //   margin: 20px;
  //   //tablet and greater
  //   @include respond-to("tablet") {
  //     grid-column: 3 / span 2;
  //   }
  //form => inputs += button
  // .input {
  //   // display: grid;
  //   grid-column: 1 / span 4;
  //   grid-row: 1 / span 4;
  //   border: none;

  //   // width: 400px;
  //   width: 100%;
  //   height: auto;
  //   padding: 25px 0px 20px 0px;
  //   border-bottom: 1px solid black;
  //   @include respond-to("tablet") {
  //     grid-column: 3 / span 2;
  //     grid-row: 1 / span 4;
  //   }
  // }
  // .submit-contact {
  //   display: grid;
  //   grid-column: 3 / span 2;
  //   grid-row: 4;
  //   place-self: center;
  //   border: none;
  //   color: $darktheme;
  //   font-size: 1rem;
  //   padding: 10px 30px;
  //   // margin: 20px 20px;
  //   // margin: 0 auto;
  //   &:hover {
  //     color: $redAccent;
  //   }
  //   &:active {
  //     color: $lightgrey;
  //   }
  // }
  // }
}
