@import "../../index.scss";

//need to position the component to hover over everything
.contact-container {
  position: fixed;
  //based on pixel value
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1400;
  @include respond-to("tablet") {
    top: 150px;
  }
  .contact-form {
    position: absolute;
    max-width: 800px;
    width: 100%;
    height: auto;
    padding: 50px 50px;
    background: $lightgrey;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 10px 10px;
    }
    .name {
      padding: 10px 30px;
      margin: 5px 5px;
    }
    .email {
      padding: 10px 30px;
      margin: 5px 5px;
    }
    .message {
      padding: 10px 30px;
      margin: 5px 5px;
    }
    .contact-input {
      width: 100%;
      padding: 10px 10px;
    }
    .submit-contact {
      border: none;
      background: none;
      padding: 10px 20px;
      transition: 0.7s;
      font-size: medium;
      &:hover {
        color: $redAccent;
        border: 1px solid $redAccent;
        border-radius: 20px;
      }
      &:active {
        color: $offwhite;
        border: 1px solid $redAccent;
        border-radius: 20px;
        background-color: $redAccent;
      }
    }
  }
}
