///// buttons/ links
.basic-button {
  color: $darktheme;
  padding: 10px 30px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  transition: 0.7s;
  &:hover {
    transition: 0.7s;
    color: $redAccent;
  }
  &:active {
    color: $lightgrey;
  }
}

//input placeholder
::placeholder {
  font-size: 1.5rem;
}
