// ///// buttons/ links
.basic-button {
  color: $darktheme;
  cursor: pointer;
  text-decoration: none;
  // font-size: 1em;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    text-decoration: underline;
  }
  &:active {
    color: $lightgrey;
  }
}
