// variables folder. colors / font etc.
@import "./variables.scss";

/// mixin for deleting default browser styling
@mixin clearStyles {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
// landing page grid-should be apps parent container.
@mixin homeGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4fr);
}
// basic grid layout for a page. 3 column 3 row.
@mixin gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(75px, auto));
}
// header footer grids
@mixin smContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(20px, auto));
  grid-gap: 1em;
}

//centers item in specific grid table.
@mixin centerItem {
  place-self: center;
}

// media breakpoint variable.
$breakpoints: (
  "smmobile": 300px,
  "mobile": 400px,
  "tablet": 800px,
  "desktop": 1000px,
  "large": 1200px,
) !default;
// media breakpoints.
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'no value could be retrieved from `${breakpoint}`. ' + 'Available breakpoints are: #{map-keys($breakpoints)}.';
  }
}

///// buttons/ links
@mixin basicButton {
  color: $darktheme;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.7s;
  &:hover {
    color: $redAccent;
    border: 1px solid $redAccent;
    border-radius: 20px;
  }
  &:active {
    color: $offwhite;
    border: 1px solid $redAccent;
    border-radius: 20px;
    background-color: $redAccent;
  }
}
