/* Color Theme Swatches in Hex */ // change colors
$offwhite: #f2ebe9 !default;
$darktheme: #1f2026 !default;
$lightgrey: #d9d9d9;
$redAccent: #eb5142;

//font // play with fonts more.
$lato-font: "Lato", sans-serif;

// media breakpoint variable.
$breakpoints: (
  "smmobile": 300px,
  "mobile": 400px,
  "tablet": 800px,
  "desktop": 1000px,
  "large": 1200px,
) !default;
