/* Color Theme Swatches in Hex */ // change colors
$offwhite: rgba(242, 235, 233, 1); //#f2ebe9 !default;
$darktheme: rgba(31, 32, 38, 1); //#1f2026 !default;
$lightgrey: rgba(217, 217, 217, 1); //#d9d9d9;
$redAccent: rgba(235, 81, 66, 1); //#eb5142;
$mellowYellow: rgba(252, 201, 71, 1); //#fcc947

//font house
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
//lato variable
$lato-font: "Lato", sans-serif;
