/* Color Theme Swatches in Hex */ // change colors
$offwhite: #f2ebe9 !default;
$darktheme: #1f2026 !default;
$lightgrey: #d9d9d9;
$redAccent: #eb5142;
$mellowYellow: #fcc947;

//font house
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
//lato variable
$lato-font: "Lato", sans-serif;
