// variables folder. colors / font etc.
@import "./Variables.scss";

// basic grid layout for a page. 3 column 3 row.
@mixin gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3em 3em 3em;
  grid-gap: 1em;
}

@mixin centerItem {
  place-self: center;
}
