/* Color Theme Swatches in Hex */ // change colors
$offwhite: #f2ebe9 !default;
$darktheme: #1f2026 !default;
$lightgrey: #d9d9d9;
$redAccent: #eb5142;

//font // play with fonts more.
$lato-font: "Lato", sans-serif;
$cta-h1: 3rem;
