@import "../../../index.scss";

.illustration-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  // gap: 10px;
  max-width: 1200px;
  min-width: 200px;
  height: 100%;
  margin: 0 auto;
  @include respond-to("desktop") {
    grid-template-columns: repeat(2, 1fr);
  }
  .illustration {
    grid-column: 1;
    place-self: center;
    width: 100%;
    height: auto;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    background-color: black;

    @include respond-to("desktop") {
      width: 600px;
      height: 600px;
      grid-column: 1 / span 2;
      padding: 0px 0px 60px 0px;
    }
  }
  .draw {
    width: 100%;
    height: 100%;
    object-position: 80% 30%;
    object-fit: cover;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
  }
  .draw-title {
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: $offwhite;
  }
  .one {
    @include respond-to("desktop") {
      grid-row: 1;
      grid-column: 1;
    }
  }
  .two {
    @include respond-to("desktop") {
      grid-row: 1;
      grid-column: 2;
    }
  }
  .three {
    @include respond-to("desktop") {
      grid-row: 2;
      grid-column: 1;
    }
  }
  .four {
    @include respond-to("desktop") {
      grid-row: 2;
      grid-column: 2;
    }
  }
  .five {
    @include respond-to("desktop") {
      grid-row: 3;
      grid-column: 1;
    }
  }
  .six {
    @include respond-to("desktop") {
      grid-row: 3;
      grid-column: 2;
    }
  }
  .seven {
    @include respond-to("desktop") {
      grid-row: 4;
      grid-column: 1 / span 2;
      width: 100%;
    }
  }
}
