.dashboard-container {
  display: grid;
  // 4 rows
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // 3 columns
  grid-template-rows: 3em 3em 3em;
  justify-items: center;
  align-items: center;
  background-color: lightseagreen;
  /// nested items in the grid.
  .dashboard-text {
    grid-column: 1;
    color: white;
  }
  .dashboard-text2 {
    grid-column: 2;
    color: white;
  }
  .dashboard-text3 {
    grid-column: 3;
    color: white;
  }
}
