@import "./styles/Mixins.scss";

.footer-container {
  @include gridContainer;
  background-color: lightblue;
  /// nested items in the grid.
  .footer-text {
    @include centerItem;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    color: white;
  }
}
