@import "./styles/Mixins.scss";

.nav-container {
  @include gridContainer;
  background-color: lightgray;
  /// nested items in the grid.
  .logo-img {
    grid-column: 1;
    background-color: white;
  }
  .nav-h1 {
    grid-column: 2;
    color: white;
  }
  .nav-links {
    grid-column: 3;
    color: white;
  }
}
