@import "./styles/Mixins.scss";
@import "./styles/Variables.scss";

.nav-container {
  // nav-container mixin
  @include gridContainer;
  background-color: lightgray;

  .logo-img {
    grid-column: 1;
    grid-row: 1 / span 4;
    @include centerItem;
    background-color: $offwhite;
  }
  .nav-h1 {
    grid-column: 2;
    grid-row: 1 / span 4;
    @include centerItem;
    width: 500px;
    color: $offwhite;
    background-color: $redAccent;
  }
  .nav-links {
    grid-column: 3;
    grid-row: 1 / span 4;
    @include centerItem;
    background-color: $offwhite;
    text-decoration: none;
  }
}
