@import "./styles/Mixins.scss";
@import "./styles/Variables.scss";

.nav-container {
  // nav-container mixin
  @include gridContainer;
  background-color: lightgray;

  .logo-img {
    grid-column: 1;
    grid-row: 1 / span 3;
    @include centerItem;
    background-color: $redAccent;
  }
  .nav-h1 {
    grid-column: 2 / span 3;
    grid-row: 2;
    // @include centerItem;
    color: $offwhite;
  }
  .navigation {
    grid-column: 4;
    grid-row: 1 / span 3;
    @include centerItem;
    background-color: $redAccent;

    .links {
      color: $offwhite;
      text-decoration: none;
    }
  }
}
