@import "../styles/Mixins.scss";
@import "../styles/Variables.scss";

.signup-form {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-gap: 1em;
  padding: 5em;
  background-color: $offwhite;
  margin: auto;

  .input-label {
    grid-column: 2;
    justify-content: end;
    align-self: center;
    font-size: medium;
    text-align: right;
    padding: 5px;
  }
  .input-field {
    grid-column: 3;
    align-self: center;
    font-size: medium;
    border: none;
    border-bottom: 1px solid $darktheme;
    background-color: $offwhite;
    padding: 5px;
    &:hover {
      border-bottom: 1px solid $redAccent;
    }
  }
  .submit-btn {
    grid-column: 2 / span 2;
    background-color: $offwhite;
    border: 1px solid $darktheme;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.7s;
    font-size: medium;
    &:hover {
      color: $redAccent;
      border: 1px solid $redAccent;
      border-radius: 20px;
    }
    &:active {
      color: $offwhite;
      border: 1px solid $redAccent;
      border-radius: 20px;
      background-color: $redAccent;
    }
  }
  .link-to-login {
    grid-column: 2 / span 2;
    @include centerItem;
    margin-bottom: 1em;
    .to-login {
      padding: 10px;
      margin: 5px;
    }
    .login-link {
      color: $darktheme;
      text-decoration: none;
      border: 1px solid $darktheme;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.7s;

      &:hover {
        color: $redAccent;
        border: 1px solid $redAccent;
        border-radius: 20px;
      }
      &:active {
        color: $offwhite;
        border: 1px solid $redAccent;
        border-radius: 20px;
        background-color: $redAccent;
      }
    }
  }
}
