// api.js file
.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repo-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
