@import "../../index.scss";

.Design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-image: url("../../stockPhotos/ML/JULEPV1.0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    .Design-title {
      align-items: center;
      color: white;
      font-weight: 600;
      margin-top: 10px;
    }
    @include respond-to("desktop") {
      .Design-title {
        margin-top: 30px;
      }
    }
    .design-line {
      width: 100%;
      border-bottom: 1px solid white;
      padding: 0px 50px;
      margin-top: 10px;
      margin-bottom: 300px;
    }
  }
  .design-footnote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    width: 100%;
    color: white;
  }
}

.title {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 30px 0px 10px 0px;
}
.design-description {
  font-size: 1rem;
  padding: 0px 0px 10px 0px;
  text-align: center;
}
//Graphic Design|Photography|Illustration
.photos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  @include respond-to("desktop") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 20px;
    gap: 10px;
    max-width: 1200px;
    min-width: 200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .photo {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    @include respond-to("desktop") {
      grid-column: 1;
      grid-row: 1;
      place-self: center;
    }
  }
  // P TITLES FOR PHOTOS MARSHALLS LANDING
  .design-link {
    text-decoration: none;
    color: $darktheme;
    place-self: center;
    font-weight: 600;
    .title-image {
      @include respond-to("desktop") {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
        padding-left: 10px;
        font-size: 1.2rem;
        // font-weight: 400;
      }
      &:hover {
        transition: 0.2s;
        text-decoration: underline;
      }
    }
  }
}
