@import "../../index.scss";

.Design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  .Design-title {
    color: $offwhite;
    font-weight: 600;
    margin-top: 10px;
  }
  @include respond-to("desktop") {
    .Design-title {
      margin-top: 30px;
    }
  }
  .design-line {
    width: 100%;
    border-bottom: 1px solid $offwhite;
    padding: 0px 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wip-img {
      max-width: 800px;
      width: 100%;
      height: auto;
      place-self: center;
    }
    .design-footnote {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
    }
  }
}
