@import "../../index.scss";
.page-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  min-width: 200px;
  margin: 0 auto;
  img {
    grid-column: 1 / span 5;
    object-fit: none;
    object-position: 50% 50%;
    overflow: hidden;
    width: 100%;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    // place-self: center;
    &:hover {
      opacity: 1;
      transition: 0.5s;
      object-fit: fill;
    }
  }
  .title-location {
    font-weight: 400;
    width: 100%;
  }
  .alpha {
    grid-row: 1;
  }
  .bravo {
    grid-row: 2;
  }
  .charlie {
    grid-row: 3;
  }
  .delta {
    grid-row: 4;
  }
  .echo {
    grid-row: 5;
  }
}
