// Google Fonts 'LATO'
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i&display=swap");
// Font Variables
$lato-font: "Lato", sans-serif;

// Styles
body {
  font-family: $lato-font;
  font-weight: normal;
  font-size: 1em;
  // color: $primary-color;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  min-width: 400px;
  padding: 0%;
}
p {
  font-size: 1em;
}
