@import "../../index.scss";

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  z-index: 1500;
  height: 80px;

  .home-link {
    grid-column: 1;
    grid-row: 1 / span 4;
    font-size: 1rem;
    font-weight: 400;
    color: $darktheme;
    text-decoration: none;
    transition: 0.2s;
    padding: 80px 110px;
    place-self: center;
    &:hover {
      color: $lightgrey;
    }
    &:active {
      color: $offwhite;
    }
  }
  .navigation {
    grid-column: 3;
    grid-row: 1 / span 3;
    color: $darktheme;
  }
  .hamburger {
    grid-column: 3;
    grid-row: 1 / span 3;
    place-self: center;
    background: none;
    border: 0;
    z-index: 1490;
    padding: 80px 110px;
    place-self: center;
    outline: none;

    .one {
      -webkit-transform: rotate(0deg) translate(0, 0);
      transform: rotate(0deg) translate(0, 0);
    }
  }
  // /////////////// to make an x
  .change {
    .one {
      -webkit-transform: rotate(-95deg) translate(0px, 0px);
      transform: rotate(-95deg) translate(0px, 0px);
      transition: 0.7s;
      box-shadow: none;
    }
    // .two {
    //   transition: 0.5s;
    //   opacity: 0;
    // }
    // .three {
    //   -webkit-transform: rotate(45deg) translate(-10px, -10px);
    //   transform: rotate(45deg) translate(-10px, -10px);
    //   transition: 0.7s;
    //   box-shadow: none;
    // }
  }
  .navigation {
    display: none;
  }
  .show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 1480;
    background-color: white;
    padding-top: 90px;
    padding-bottom: 20px;
    margin: auto;
    .links {
      place-self: center;
    }
    .contact {
      font-weight: 200;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  // tablet view
  @include respond-to("desktop") {
    .navigation {
      display: flex;
      flex-direction: row;
      color: $darktheme;
      place-self: center;
      .links {
        place-self: center;
      }
      .contact {
        font-weight: 200;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
