@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.nav-container {
  @include smContainer;
  z-index: 1000;

  .home-link {
    grid-column: 1;
    grid-row: 1 / span 3;
    font-size: 2rem;
    font-weight: 400;
    color: $darktheme;
    text-decoration: none;
    transition: 0.7s;
    @include centerItem;
    &:hover {
      color: $redAccent;
    }
    &:active {
      color: $lightgrey;
    }
  }
  .nav-burger {
    // display: flex;
    // flex-direction: row;
    grid-column: 3;
    grid-row: 1 / span 3;
    color: $darktheme;
    @include centerItem;
  }
  .hamburger {
    grid-column: 3;
    grid-row: 1 / span 3;
    @include centerItem;
    background: none;
    border: 0;
    z-index: 1200;
    padding: 10px;
    width: 50px;

    .line {
      width: 35px;
      height: 5px;
      background: $darktheme;
      margin: 6px 0;
      transition: 0.4s;
    }
    .one {
      -webkit-transform: rotate(0deg) translate(0, 0);
      transform: rotate(0deg) translate(0, 0);
    }
    .two {
      opacity: 1;
    }
    .three {
      -webkit-transform: rotate(0deg) translate(0, 0);
      transform: rotate(0deg) translate(0, 0);
    }
    .hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  // to make an x
  .change {
    .one {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px);
      transform: rotate(-45deg) translate(-5px, 5px);
      transition: 0.7s;
      box-shadow: none;
    }
    .two {
      transform: rotate(0deg) translate(-1200px, 1px);
      transition: 0.5s;
      box-shadow: none;
    }
    .three {
      -webkit-transform: rotate(45deg) translate(-10px, -10px);
      transform: rotate(45deg) translate(-10px, -10px);
      transition: 0.7s;
      box-shadow: none;
    }
  }
  .nav-burger {
    display: none;
  }
  .show {
    display: block !important;
    width: 150%;
    z-index: 998;
    grid-column: 1 / span 2;
    // grid-row: 2;
    background-color: $offwhite;
    padding: 20px;
    text-align: center;

    .links {
      // display: block;
      // padding: 10px 5px;
      @include centerItem;
      @include basicButton;
    }
  }
}
