@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.nav-container {
  @include smContainer;
  z-index: 1000;
  height: 70px;
  .home-link {
    grid-column: 1;
    grid-row: 1 / span 3;
    font-size: 2rem;
    font-weight: 400;
    color: $darktheme;
    text-decoration: none;
    transition: 0.7s;
    @include centerItem;
    &:hover {
      color: $redAccent;
    }
    &:active {
      color: $lightgrey;
    }
  }
  .navigation {
    grid-column: 3;
    grid-row: 1 / span 3;
    color: $darktheme;
    @include centerItem;
  }
  .hamburger {
    grid-column: 3;
    grid-row: 1 / span 3;
    @include centerItem;
    background: none;
    border: 0;
    z-index: 1200;
    padding: 10px;
    width: 50px;
    outline: none;
    .line {
      width: 35px;
      height: 5px;
      background: $darktheme;
      margin: 6px 0;
      transition: 0.4s;
    }
    .one {
      -webkit-transform: rotate(0deg) translate(0, 0);
      transform: rotate(0deg) translate(0, 0);
    }
    .two {
      opacity: 1;
    }
    .three {
      -webkit-transform: rotate(0deg) translate(0, 0);
      transform: rotate(0deg) translate(0, 0);
    }
  }
  /////////////// to make an x
  .change {
    .one {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px);
      transform: rotate(-45deg) translate(-5px, 5px);
      transition: 0.7s;
      box-shadow: none;
    }
    .two {
      transition: 0.5s;
      opacity: 0;
    }
    .three {
      -webkit-transform: rotate(45deg) translate(-10px, -10px);
      transform: rotate(45deg) translate(-10px, -10px);
      transition: 0.7s;
      box-shadow: none;
    }
  }
  .navigation {
    display: none;
  }
  .show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 998;
    background-color: white;
    border-bottom-left-radius: 1em;
    padding-top: 90px;
    padding-bottom: 20px;
    margin: auto;
    .links {
      @include centerItem;
      @include basicButton;
    }
  }
  // tablet view
  @include respond-to("tablet") {
    .navigation {
      display: flex;
      flex-direction: row;
      grid-column: 3;
      grid-row: 1 / span 3;
      color: $darktheme;
      @include centerItem;
      .links {
        @include centerItem;
        @include basicButton;
      }
    }
    .hamburger {
      display: none;
    }
  }
}
