@import "../../index.scss";

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  //////// home button - MIKLO
  .home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $darktheme;
    border: none;
    height: 100%;
    padding: 40px 40px;
    &:hover {
      transition: 0.2s;
      text-decoration: underline;
    }
  }
  // mobile styling
  @include respond-to("mobile") {
    //////// mobile/tablet menu with dropdown
    .toggle-nav {
      -webkit-appearance: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 40px 40px;
      border: none;
      cursor: pointer;
      background: none;
      color: $darktheme;
      font-family: inherit;
      font-size: 1em;
      border: none;
      transition: 0.2s;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        color: $lightgrey;
      }
    }
    .nav-tabs {
      display: none;
    }
    //////////// on toggle hide toggle-nav button
    .change {
      display: none;
    }
    // DISPLAY DROPDOWN ////////////////////////////// DISPLAY DROPDOWN
    // SHOWING THE DROPDOWN MENU
    .show {
      z-index: 1500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $offwhite;
      margin-top: 225px;

      .mobile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 40px 40px;
        cursor: pointer;
        color: $darktheme;
        background-color: $offwhite;
        font-family: inherit;
        font-size: 1em;
        border: none;
        margin-top: auto;
      }

      .links {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        ////////// desktop view is 40px so height is 60px aqui -
        padding: 20px 40px;
        z-index: 1500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  ////////////// desktop navigation /// nav tabs
  @include respond-to("desktop") {
    .toggle-nav {
      display: none;
    }
    .nav-tabs {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .mobile-nav {
        display: none;
      }
      .links {
        color: $darktheme;
        padding: 40px 40px;
        transition: 0.2s;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}
