@import "../../index.scss";

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;

  .contact-title {
    font-weight: 600;
    margin-top: 10px;
  }
  @include respond-to("desktop") {
    .contact-title {
      margin-top: 30px;
    }
  }
  .contact-line {
    width: 100%;
    border-bottom: 1px solid $darktheme;
    padding: 0px 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  // form of le contact formsy forms.
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .label-contact {
      width: 100%;
      font-size: 1rem;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 5px;
    }
    .input-contact {
      width: 100%;
      font-size: 1rem;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 5px;
      border: 1px solid $darktheme;
    }
    .input-contact.message {
      text-align: left;
    }

    .submit-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid $darktheme;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 15px;
      background: none;
      cursor: pointer;

      .fa-paper-plane {
        text-decoration: none;
        color: $darktheme;
        padding: 10px 80px;
        font-size: 1.5rem;
        &:hover {
          color: $lightgrey;
        }
        &:active {
          color: white;
        }
      }
      &:hover {
        border: 1px solid $lightgrey;
      }
      &:active {
        border: 1px solid $lightgrey;
        background-color: $lightgrey;
      }
    }
  }
}
